extends layout

block content
  .main.container.text-xs-center
    h2.display-4 ChunkyMonkey
    h2.display-4 Fitness
    p.lead I am excited to welcome you to my jungle!
    a.btn.btn-info-outline.btn-lg(href='/register') Get Started for FREE
