extends layout

block content
  .main.container.clearfix
    .row
      .col-md-8.col-md-offset-2
        h1.display-4
          .row
            .col-sm-6
              .card
                .card-body
                  h5.card-title Beginners Get Big
                  p.card-text This one works.
                  a.btn.btn-success(href='beginnergorilla') Get Started!
            .col-sm-6
              .card
                .card-body
                  h5.card-title Beginners Get Lean
                  p.card-text This one works.
                  a.btn.btn-success(href='beginnermonkey') Get Started!
            .col-sm-6
              .card
                .card-body
                  h5.card-title Advanced Get Big
                  p.card-text Think Gorilla, become Gorilla
                  a.btn.btn-success(href='#') Get Started!
            .col-sm-6
              .card
                .card-body
                  h5.card-title Advanced Get Lean
                  p.card-text Think Chimp, become Chimp
                  a.btn.btn-success(href='#') Get Started!
